**/*.test
.tags*
tags
.dbg_history
**/**/dlv
!cmd/dlv/
.vagrant
**/*.swp
localtests
.idea
*.iml
.teamcity/target
.vscode
/dlv_config_client
cmd/dlv/dlv_config_client/xenon_out
cmd/dlv/dlv_config_client/xenon_trace
cmd/dlv/dlv_config_client/lingering_logs
init.txt
LEFT_OFF.md
